@use '~@angular/material' as mat;

@include mat.core();

$md-white: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$red: (
  50 : #cc0000,
  100 : #cc0000,
  200 : #cc0000,
  300 : #cc0000,
  400 : #cc0000,
  500 : #cc0000,
  600 : #cc0000,
  700 : #cc0000,
  800 : #cc0000,
  900 : #cc0000,
  A100 : #cc0000,
  A200 : #cc0000,
  A400 : #cc0000,
  A700 : #cc0000,
  contrast: (
    50 : #cc0000,
    100 : #cc0000,
    200 : #cc0000,
    300 : #cc0000,
    400 : #cc0000,
    500 : #cc0000,
    600 : #cc0000,
    700 : #cc0000,
    800 : #cc0000,
    900 : #cc0000,
    A100 : #cc0000,
    A200 : #cc0000,
    A400 : #cc0000,
    A700 : #cc0000,
  )
);

$ng-task-tracker-theme: mat.define-dark-theme((
  color: (
    primary: $md-white,
    accent: $md-white,
    //warn: $red
  )
));

@include mat.all-component-themes($ng-task-tracker-theme);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-color: #00010A;
  background-image: url(/assets/flat-mountains-balls.svg);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
}

.glass-container {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.3);
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  background-color: rgba(4, 1, 15, 0.64);
  border-radius: 12px;
}

.btn {
  display: inline-block;
  background: rgb(170,0,170);
  background: linear-gradient(90deg, rgba(170,0,170,1) 0%, rgba(204,0,0,1) 100%);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  height: 44px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  background-color: transparent;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
